/.phpunit.cache
/node_modules
storage/*
/storage/*.key
/storage/pail
/vendor
composer.lock
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.idea/php.xml
/.nova
/.vscode
/.zed
# исключаем загружаемые файлы
/upload/

# исключаем htaccess
/.htaccess
/.htpasswd


# различные системные папки и файлы хостингов и операционных систем
/cgi-bin/
/awstats/
/webstat/
.DS_Store
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db

# исключаем все текстовые и подобные ресурсы
!/docs/index.html
*.txt
*.log
*.css.map

# архивы, включая многотомные
*.zip
*.zip*
*.tar
*.tar*
*.enc
*.enc*
*.gz
*.gz*
*.tgz
*.tgz*
*.sql
*.rar
.hg
.ftpconfig
*.doc
*.docx
*.pdf
*.rtf
*.xls
*.xlsx
*.ppt
*.pptx
*.psd
*.psb
*.sketch
core.*

# исключаем robots.txt
robots.txt
# исключаем всякое от node.js
node_modules

bower_components
vendor
/.idea/
/nbproject
.grunt
.npm
package-lock.json
.sass-cache/
.vscode
docker-volumes-data
v8-compile-cache-0
# и логи xhprof напоследок
/xhprof/logs
#исходники верстки
docker
docker-compose.yml
html
/nbproject/
test*.php
/dev/
/public/build
/public/vendor
/public/storage
auth.json
tests
