/vendor
composer.lock
/.idea/php.xml
/.vscode
*.txt
*.log
*.css.map
*.zip
*.zip*
*.tar
*.tar*
*.enc
*.enc*
*.gz
*.gz*
*.tgz
*.tgz*
*.sql
*.rar
.hg
.ftpconfig
*.doc
*.docx
*.pdf
*.rtf
*.xls
*.xlsx
*.ppt
*.pptx
*.psd
*.psb
*.sketch
core.*

vendor
/.idea/
/nbproject
.grunt
package-lock.json
.vscode
/xhprof/logs
#исходники верстки
docker
docker-compose.yml
